body {
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    margin: 0;
    background-color: hsl(0, 0%, 100%);
}

/* <<---- Small Screeen!!! -----> */

header, main {
    padding: 2em;
}

.social-media {
    display: none;
}

.line {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.339);
    margin: 1em 0;
}

h1 {
    color: rgb(0, 0, 0);
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
}

li {
    list-style: none;
    font-weight: 600;
    margin: 2em 0;
    line-height: 1.5;

}

a {
    font-size: 1rem;
    display: inline-block;
    padding: 0.3em 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.431);
}

a:focus {
    color: black;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#sub-title {
    display: none;
}


#menu {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-bar {
    display: none;
}

.nav-bar.active {
    display: block;
}

/* --->>>[[[[Main]]]<<<----! */

main {
    padding-bottom: 12vh;
}

.col {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.col .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 2;
    opacity: 0;
}

.col img {
    width: 100%;
    z-index: 1; 
    object-fit: cover;
}

/* about me style */

.portrait img {
    object-fit: contain;
}

.about-main {
    display: flex;
    flex-direction: column;
}

.contact-me img{
    width: 35px;
    height: 35px;
}

.contact-me ul {
    margin: 0;
    padding: 0;
    width: 65%;
}

.contact-me li span{
    display: flex;
    align-items: center;
}

.about-bio h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
#role {
    font-size: 1.4rem;
    font-weight: 500;
}
.about-bio span {
    display: block;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.527);
}
.about-bio .education {
    font-weight: 600;
}
.about-bio .education + span {
 color: rgb(0, 0, 0);   
}


/* [[[---- Foooterr ----]]]]>> */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.853);
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    font-size: 1.2rem;
    transition: opacity 0.6s ease;
    opacity: 1;
}

footer.fade-out {
    opacity: 0;
}



/* <!!!---...  [[[Big Screeen]]] ----!!-> */

@media (min-width: 860px) {

    .line {
        display: none;
    }

    /* <<----[[Header]] ----!> */

    #name {
        font-size: 3rem;
        letter-spacing: 0;
    }

    #sub-title {
        display: inline-block;
        line-height: 1.5;
        font-size: 1.3rem;
        color:rgba(65, 65, 65, 0.786);
    }

    header {
        flex: 1;
        margin-left: 2em;
        height: auto;
    }

    #menu {
        display: none;
    }

    .nav-bar {
        display: block;
    }

    ul {
        padding: 0;
    }

    a {
        font-weight: 100;
        color:rgba(0, 0, 0, 0.352);
        transition: color 0.5s ease-in-out;
    }

    a:hover {
        color:rgb(0, 0, 0);
    }

    .social-media {
        display: block;
        margin-top: 2em;
    }

    .social-media ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
    }

    .social-media a img {
        width: 30px;
        height: 30px;
        opacity: .5;
        transition: opacity 0.2s ease-in-out;
        transition: transform  0.2s ease-in-out;
    }

    .social-media ul li {
        margin: 0;
        padding: 0;
    }

    .social-media a:hover img {
        transform: scale(1.1);
        opacity: 1;
    }
    
    /* <----![[[``main content``]]]]=====> */

    .wrapper {
        display: flex;
        justify-content: space-between;
        margin: 2em;
    }

    main {
        flex: 4;
        padding-bottom: 0;
    }

    .container-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }

    .title-main { 
        width: 100%;
        font-size: 1.3rem;
        padding-left: 1.5%;
        margin-bottom: 1em;
    }

    .row {
        display: flex;
        width: 80%;
        justify-content: space-around;
    }

    /* ----- ||Overlay effect||-----> */

    .col {
        max-width: 500px;
        position: relative;
        overflow: hidden;
        margin: 1rem;
    }

    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;

        color: rgb(255, 255, 255);
        font-size: 1.4rem;
        font-weight: 600;

        background-color: rgba(0, 0, 0, 0.37);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        
        position: absolute;
        inset: 0;
        z-index: 2;
    }

    .overlay:hover {
        background-color: rgba(0, 0, 0, 0.37);
        opacity: 1;
    }

    img {
        inset: 0;
        object-fit: cover;
        transition: transform 3s ease;
        z-index: 1;
    }

    .col:hover img {
        transform: scale(1.1);
    }

    /* About me content */

    .about-flex-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-flex-wrapper img {
        height: 520px;
        aspect-ratio: auto;
    }

    .about-bio {
        padding-right: 5em;
        width: 50%;
        font-size: 1.2rem;
    }
    
    /* contact me section */

    .contact-me ul{
        display: flex;
        position: relative;
        left: 35em;
        width: 100%;
    }

    .contact-me ul li {
        padding: 1em;
    }

    /* <----![[[foooterr]]]>----?!> */

    footer {
        height: 2em;
        padding: 1em;
        z-index: 1;
    }

    footer.fade-out {
        opacity: 1;
    }   
}