body {
font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}

/* <<---- Small Screeen!!! -----> */

header, main, footer {
    padding: 1em;
}

.line {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.339);
    margin: 1em 0;
}

h1 {
    color: rgb(0, 0, 0);
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
}

li {
    list-style: none;
    font-weight: 600;
    margin: 2em 0;
    line-height: 1.5;

}

a {
    font-size: 1rem;
    display: inline-block;
    padding: 0.3em 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.431);
}

a:focus {
    color: black;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#sub-title {
    display: none;
}


#menu {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-bar {
    display: none;
}

.nav-bar.active {
    display: block;
}

/* --->>>[[[[Main]]]<<<----! */

main {
    padding-bottom: 12vh;
}

/* .row {
    display: flex;
    flex-direction: column;
} */

.col {
    box-sizing: border-box;
}

img {
    width: 100%;
    
}


/* [[[---- Foooterr ----]]]]>> */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    font-size: 1.2rem;
    transition: opacity 0.6s ease;
    opacity: 1;
}

footer.fade-out {
    opacity: 0;
}



/* <!!!---...  [[[Big Screeen]]] ----!!-> */

@media (min-width: 860px) {
    #name {
        font-size: 3rem;
        letter-spacing: 0;
    }
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        margin: 2em;
    }

    main {
        flex: 4;
    }

    header {
        flex: 1;
        margin-left: 2em;
    }

    #menu {
        display: none;
    }

    #sub-title {
        display: inline-block;
        font-size: 1.3rem;
        color:rgba(0, 0, 0, 0.62);
    }

    .nav-bar {
        display: block;
    }

    ul {
        padding: 0;
    }

    a {
        font-weight: 100;
        color:rgba(0, 0, 0, 0.352);
        transition: color 0.5s ease-in-out;
    }

    a:hover {
        color:rgb(0, 0, 0);
    }

    .container-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }

    .title-main {
        width: 100%;
        font-size: 1.3rem;
        padding-left: 1.5%;
        margin-bottom: 1em;
    }

    .row {
        display: flex;
        width: 80%;
        justify-content: space-around;
    }

    image {
        max-width: 100%;
        object-fit: contain;
    }

    .col {
        box-sizing: border-box;
        width: 500px;
        margin: 1rem;
    }

    .line {
        display: none;
    }   
}